.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

.coverage*
htmlcov/

.env

*.egg-info/
.eggs/

data/generated/*
!data/generated/.gitkeep

reports/generated/*
!reports/generated/.gitkeep

.DS_Store
Thumbs.db
